*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#teaminfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px; /* Larghezza massima del contenitore per mantenere le card allineate */
  margin: 0 auto; 
  border: 1px solid #000000;
}

.card {
  flex-basis: calc(33.33% - 20px); /* Larghezza del 33.33% per tre card con un margine di 20px tra di esse */
  margin: 10px; /* Margine tra le card */
  padding: 15px;
  border: 1px solid #9b0000;
  text-align: center;
}